*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

a {
    text-decoration: none;
}

body{
    color: white;
    background-color: black;
    width: 100%;
    height: 100vh;
}

/* Navigation Bar */
.name:hover {
    transform: scale(1.1);
}

.name:active {
    text-decoration: underline;
}

nav a span{
    margin-left: 0.3rem;
}

nav a{
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-left: 30px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active {
    color: #b74b4b;
    border-bottom: 3px solid #b74b4b;
}

header{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 5px 60px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    z-index: 200;
}

.name{
    font-size: 3rem;
    font-weight: 800;
    color: #b74b4b;
    cursor: pointer;
    transition: 0.5s ease;
}

@media(max-width: 1000px){
    /* Navigation Bar */
    nav {
        padding: 0 20px;
    }

    nav a span {
        display: none;
    }

    nav a {
        font-size: 20px;
    }
}

@media(max-width: 550px){
    /* Navigation Bar */
    header {
        padding: 0 18px;
    }

    .name {
        font-size: 2.8rem;
        padding: 0 20px;
    }

    nav a {
        font-size: 18px;
        margin-left: 18px;
    }
}

/* Main Section */
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #b74b4b;
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 3rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "software Developer";
    color: #b74b4b;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 1s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b;
    }
}

@keyframes words{
    0%, 33.33%{
        content: "Cyber Security";
    }
    33.34%, 66.66%{
        content: "3D Modelling";
    }
    66.67%, 100%{
        content: "Game Developer";
    }
}

@media (max-width: 1000px){
    .home{
        gap: 4rem;
    }
}

@media(max-width:995px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
        padding-top: 100px;
    }

    .home .home-content h3{
        font-size: 3.5rem;
    }

    .home .home-content h1{
        font-size: 5rem;
    }

    .home .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
}

@media(max-width: 525px){
    .home .home-content h1{
        font-size: 3.8rem;
        margin-bottom: 13px;
    }

    .home .home-content h3{
        font-size: 3rem;
        margin-bottom: 15px;
    }

    .home .home-img img{
        width: 60vw;
    }

    .home .typing-text{
        font-size: 24px;
    }

    .home{
        padding-top: 130px;
    }
}